# Auto detect text files and perform LF normalization
* text=auto
*.apk filter=lfs diff=lfs merge=lfs -text
*.dex filter=lfs diff=lfs merge=lfs -text
*.odex filter=lfs diff=lfs merge=lfs -text
*.vdex filter=lfs diff=lfs merge=lfs -text
*.oat filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
